<% explode(@data) %>
<% tags = ghet ("https://github.com/api/v2/json/repos/show/#{params[:user]}/#{params[:repo]}/tags") %>
<div id="text"> <a href="https://github.com/<%="#{h params[:user]}/#{h params[:repo]}"%>"><%="#{h params[:user]}/#{h params[:repo]}"%> </a> </div>

<hr>
<ul id="nav">
  <li><a href="#">tags</a>
  <ul>
    <% tags["tags"].sort.reverse_each do |k,v| %>
      <li><a href=<%="/#{params[:user]}/#{params[:repo]}/#{k}"%>><%="#{k}"%></a></li>
  <% end %>
  </ul>


  <div class="clear"></div>
</ul>

<div class="clear"></div>
<div id="title"> <h1> Commits: <% count = 0; contributors.each {|u| count += u["contributions"]}%> <%=count%> /
    Committers: <%= contributors.length %></h1></div>

<table align="center">
  <thead>
    <tr>
      <th>Avatar</th>
      <th>Name</th>
      <th>Contributions</th>


    </tr>
  </thead>
  <tbody>

    <% contributors.each do |e| %>

      <tr>
        <td>
          <a href="https://github.com/<%=h e["login"]%>/">
            <img src="http://www.gravatar.com/avatar.php?gravatar_id=<%=h e["gravatar_id"] %>?s=40" width="40" height="40" />
          </a>
        </td>

        <td>

          <%=h e["name"] %> <a href="https://github.com/<%=h e["login"] %>/">(<%=h e["login"]%>)</a>

        </td>
        <td><a href="https://github.com/<%="#{h params[:user]}/#{h params[:repo]}/commits/master?author=#{h e["login"]}"%>"><%=h e["contributions"] %></a></td>

      </tr>
    <% end %>
