.box
  %table
    %thead
      %tr
        %th Avatar
        %th Username
        %th Contributions
    %tbody
      = explode(ghet("http://github.com/api/v2/json/repos/show/#{params[:user]}/#{params[:repo]}/contributors"))
      - contributors.each do |e|
        %tr
          %td
            %a{:href => "/users/#{#{e["login"]}}/"}
              %img{:height => "40", :src => "http://www.gravatar.com/avatar.php?gravatar_id=#{#{e["gravatar_id"]}}", :width => "40"}/
          %td
            = e["name"]
            %a{:href => "/users/#{#{e["login"]}}/"}= e["login"]
          %td= e["contributions"]
      - "
      - </tbody>
      - </table>
      - </div>
      - "
