<% tagger %>
<% tags = ghet ("http://github.com/api/v2/json/repos/show/#{params[:user]}/#{params[:repo]}/tags") %>

<div id="text"> <a href="http://github.com/<%="#{h params[:user]}/#{h params[:repo]}"%>"><%="#{h params[:user]}/#{h params[:repo]}"%> ·
    <a href="http://github.com/<%="#{h params[:user]}/#{h params[:repo]}/tree/#{params[:tag]}"%>">(<%="#{params[:tag]}"%>) </a> </div>


<hr>

<ul id="nav">
  <li><a href="#">tags</a>
  <ul>
    <% tags["tags"].sort.reverse_each do |k,v| %>
      <li><a href=<%="/#{params[:user]}/#{params[:repo]}/#{k}"%>><%="#{k}"%></a></li>
  <% end %>
  </ul>


  <div class="clear"></div>
</ul>
<br><br>

<div id="title"> <h1> Commits: <%= @tcommits["commits"].length %> / Committers: <%= @tmitts.length %></h1></div>

<table align="center">
    <thead>
      <tr>
        <th>Avatar</th>
        <th>Name</th>
        <th>Contributions</th>


      </tr>
    </thead>
    <tbody>

      <% @tmitts.sort_by { |k,v| v.length }.reverse_each do |u,c| %>
      <% d = ghet "http://github.com/api/v2/json/user/show/#{u}" %>

        <tr>
          <td>
            <a href="http://github.com/<%=h u %>/">
              <img src="http://www.gravatar.com/avatar.php?gravatar_id=<%= d["user"]["gravatar_id"] if not d.include?("error")%> " width="40" height="40" />
            </a>
          </td>

          <td>

            <%=h u %> <a href="http://github.com/<%=h u %>/">(<%=h d["user"]["name"] if not d.include?("error")%>)</a>

          </td>
          <td><a href="https://github.com/<%="#{h params[:user]}/#{h params[:repo]}/commits/master?author=#{h u}"%>"><%=h c.length %></a></td>

        </tr>
      <% end %>
