#text
  %a{ href: "https://github.com/#{params[:user]}/#{params[:repository]}" }
    = "#{params[:user]}/#{params[:repository]}"

%hr

%ul#nav
  %li
    %a{ href: '#' } tags

  %li
    %ul
      - @tags.reverse_each do |name, value|
        %li
          %a{ href: "/#{params[:user]}/#{params[:repository]}/#{name}" }= name

  .clear

.clear

#title
  %h1
    = "Commits: #{@contributors.reduce(0) { |r, c| r + c['contributions'] }} ϟ"
    = "Committers: #{@contributors.length}"

%table{ align: 'center' }
  %thead
    %tr
      %th Avatar
      %th Name
      %th Contributions

  %tbody
    - @contributors.each do |contributor|
      %tr
        %td
          %a{ href: "https://github.com/#{contributor['login']}" }
            %img{ src: "http://www.gravatar.com/avatar.php?gravatar_id=#{contributor['gravatar_id']}?s=40" }

        %td
          = contributor['name']
          %a{ href: "https://github.com/#{contributor['login']}" }= "(#{contributor['login']})"

        %td
          %a{ href: "https://github.com/#{params[:user]}/#{params[:repository]}/commits/master?author=#{contributor['login']}" }= contributor['contributions']
