#text
  %a{ href: "https://github.com/#{params[:user]}/#{params[:repository]}" }
    = "#{params[:user]}/#{params[:repository]}"

%hr

%ul#nav
  %li
    %a{ href: '#' } tags

  %li
    %ul
      - @tags.reverse_each do |tag|
        %li
          %a{ href: "/#{params[:user]}/#{params[:repository]}/#{tag.first}" }= tag.first

  .clear

.clear

#title
  %h1
    -  count = 0; @data.each {|u| count += u["contributions"]}
    = "Commits: #{count}"
    = "Committers: #{@data.length}"

%table{ align: 'center' }
  %thead
    %tr
      %th Avatar
      %th User
      %th Contributions

  %tbody
    - @data.each do |contributor|
      %tr
        %td
          %a{ href: "https://github.com/#{contributor['login']}" }
            %img{ src: "http://www.gravatar.com/avatar.php?gravatar_id=#{contributor['gravatar_id']}?s=40" }

        %td
          %a{ href: "https://github.com/#{contributor['login']}" }= "(#{contributor['login']})"

        %td
          %a{ href: "https://github.com/#{params[:user]}/#{params[:repository]}/commits/master?author=#{contributor['login']}" }= contributor['contributions']
