#text
  %a{ href: "https://github.com/#{params[:user]}/#{params[:repo]}" }
    = "#{params[:user]}/#{params[:repository]}"

  -# there's a char here, really!
  ·

  %a{ href: "https://github.com/#{params[:user]}/#{params[:repo]}/tree/#{params[:tag]}" }
    = "(#{params[:tag]})"

%hr

%ul#nav
  %li
    %a{ href: '#' } tags

  %li
    %ul
      - @tags.reverse_each do |name, value|
        %li
          %a{ href: "/#{params[:user]}/#{params[:repository]}/#{name}" }= name

  .clear

.clear

#title
  %h1
    = "Commits: #{@tag.commits["commits"].length} ϟ"
    = "Committers: #{@tag.commits_per_author.length}"

%table{ align: 'center' }
  %thead
    %tr
      %th Avatar
      %th Name
      %th Contributions

  %tbody
    - @tag.commits_per_author.sort_by { |_, x| x.length }.reverse_each do |name, commits|
      - data = fetch("https://github.com/api/v2/json/user/show/#{name}")
      - next if data.include? 'error'
      - contributor = data['user']

      %tr
        %td
          %a{ href: "https://github.com/#{name}" }
            %img{ src: "http://www.gravatar.com/avatar.php?gravatar_id=#{contributor['gravatar_id']}?s=40" }

        %td
          = contributor['name']
          %a{ href: "https://github.com/#{contributor['login']}" }= "(#{contributor['login']})"

        %td
          %a{ href: "https://github.com/#{params[:user]}/#{params[:repository]}/commits/master?author=#{contributor['login']}" }= commits.length
